.DS_Store

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.snm
*.synctex.gz
*.synctex(busy)
*.thm
*.toc
*.vrb
*.xdv
*.make.tex

examples/fduthesis/fduthesis.def
examples/fduthesis/fduthesis.cls
